/*Global reset andfont setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #806071;
    color: #807b7b;
    padding: 0;
    margin: 0;
   background-image: url("images/mudbloombg.png");
   background-repeat: no-repeat;
   background-position: top center;
}

/* Header and nav styling */
header {
    background_color: #806071;
    color: rgb(3, 3, 3);
    padding: 1rem;
    text-align: center;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-size: medium;
    width: 255px;
}



main {
    max-width: 500px;
    margin: auto;
    background-color: transparent;
    padding: 1.5rem;
    
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #ffffff;
}

p {
    color: #fff;
    text-align: center;
}

button {
  background-color: #806071; 
  color: rgb(99, 87, 87); 
  border: 2px solid #292b2a;
  block-size: 32px;
  width: 250px;
}

.rounded-button {
    display: block;
    padding: 1em 2em;
    border-radius: 8px;
    border-color: #ac8a9c;
    background-color: #806071;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    margin: .025em auto;
    cursor: pointer;
    box-shadow: 20px 20px 50px rgba(59, 37, 37, 0.342);
    width: 300px;
}

.rounded-button:hover{
    background-color: rgb(162, 185, 138);
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

